@media screen and (max-width: 500px) {
  body {
    overflow: auto;
    height: 100%;
  }

  nav svg {
    width: 35px;
  }

  .logo-icon {
    font-size: 30px;
  }

  .pages,
  .right-social {
    display: none;
  }

  .one {
    display: grid;
    grid-template-columns: 1fr;
  }

  .title {
    justify-content: flex-start;
    height: 10vh;
    grid-column: 2/3;
  }

  .projects-container,
  .contact-center {
    height: 100%;
    grid-column: 2/3;
  }

  .title h1 {
    font-size: 65px;
    line-height: 55px;
    text-shadow: -3px -3px rgb(24, 24, 24);
  }

  .title h2 {
    font-size: 20px;
  }

  .about {
    height: 80vh;
    width: 100%;
  }

  .about p {
    width: 90%;
  }

  .about-list {
    width: 100%;
  }

  .about-list p {
    width: 100%;
  }

  .about-list ul {
    margin: 1em;
    display: block;
    flex-direction: column;
    columns: 2;
    text-align: center;
  }

  /*------------------------------------------*/

  .page.two {
    display: grid;
    grid-template-columns: 7.5% 1fr 7.5%;
  }

  .proj-container {
    grid-template-columns: 5% 1fr 5%;
    height: 100%;
  }

  .projects-list {
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 50px;
    height: 100%;
  }

  .proj-image {
    width: 90%;
    height: 120px;
  }

  .proj-text,
  .info {
    display: none;
  }

  .proj-links {
    width: 90%;
    height: 100%;
    padding-bottom: 15px;
  }

  .proj-links a {
    padding: 5px;
  }
  /*------------------------------------------*/
  .contact-container {
    grid-template-columns: 5% 1fr 5%;
    height: 100%;
    padding-top: 50px;
  }

  form {
    width: 95%;
    height: 60vh;
  }
  /*------------------------------------------*/

  .menu-nav {
    height: 80vh;
  }
}
